---
import Card from "../../components/Card.astro";
import Grid from "../../components/Grid.astro";
import Layout from "../../layouts/Layout.astro";

const posts = await Astro.glob("./*.md");
---

<Layout
    title="Posts"
    description="Things I think it's worthwhile to post about."
    icon="fa-solid fa-newspaper"
>
    <h1>Posts</h1>
    <p>Here are my latest posts.</p>
    <Grid>
        {
            posts
                .sort(
                    (a, b) =>
                        new Date(b.frontmatter.date).getTime() -
                        new Date(a.frontmatter.date).getTime()
                )
                .map((post) => (
                    <Card
                        href={post.url!}
                        title={`${post.frontmatter.title} (${post.frontmatter.date})`}
                        icon={post.frontmatter.icon}
                        body={post.frontmatter.description}
                    />
                ))
        }
    </Grid>
</Layout>
