{{ define "head-extra" }}
    <title>{{ .Site.Title }} | Browse {{ replace (title .Title) "-" " " }}</title>
    <meta name="description" content="{{ .Params.ogDescription }}">
{{ end }}

{{ define "main" }}
    {{ if in .Permalink "tags" }}
        <h1 class="text-4xl text-center my-3">Tagged with <span class="text-blue-500">{{ replace .Title "-" " " }}</span></h1>
    {{ else }}
        <h1 class="text-4xl text-center my-3">{{ replace (title .Title) "-" " " }}</h1>
    {{ end }}
    
    {{ .Content }}

    {{ range .Pages }}
            <article class="text-center my-10">
                <div class="cursor-pointer inline-block p-4 bg-gray-200 rounded-xl mx-auto shadow-lg transition duration-500 transform hover:scale-105 hover:shadow-2xl" onclick="location.href = '{{ .Permalink }}'">
                    <h1 class="text-3xl text-blue-500"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                    <h3 class="text-xl text-center mb-3 text-gray-500">{{ .Date.Format "January 2, 2006" }}</h3>
                    <p>
                        {{ .RenderString .Description }}
                    </p>
                </div>
            </article>
    {{ end }}
{{ end }}