{{ define "head-extra" }}
    <title>{{ .Site.Title }} | Browse {{ replace (title .Title) "-" " " }}</title>
    <meta name="description" content="{{ .Params.ogDescription }}">
{{ end }}

{{ define "main" }}
    {{ if in .Permalink "tags" }}
        <h1 class="my-3 text-4xl text-center">Tagged with <span class="text-blue-500">{{ replace .Title "-" " " }}</span></h1>
    {{ else }}
        <h1 class="my-3 text-4xl text-center">{{ replace (title .Title) "-" " " }}</h1>
    {{ end }}
    
    <div class="text-center">
        {{ .Content }}
    </div>

    {{ range .Pages }}
        <article class="my-10 text-center md:mx-20">
            <div class="inline-block p-4 mx-auto bg-gray-200 shadow-lg cursor-pointer rounded-xl transition-none md:transition duration-500 transform-none md:transform hover:scale-105 md:hover:shadow-2xl" onclick="location.href = '{{ .Permalink }}'">
                <h1 class="text-3xl text-blue-500">{{ .Title }}</h1>
                <h3 class="mb-3 text-xl text-center text-gray-500">{{ .Date.Format "January 2, 2006" }}</h3>
                <p>
                    {{ .RenderString .Description }}
                </p>
                {{ if isset .Params "preview" }}
                    <video autoplay loop muted playsinline src="/videos/{{ .File.BaseFileName }}/{{ .Params.preview }}.mp4" class="my-3 outline-none rounded-xl"></video>
                {{ end }}
            </div>
        </article>
    {{ end }}
{{ end }}
