{{ define "main" }}
    {{ if in .Permalink "tags" }}
        <h1 class="text-4xl text-center my-3">Tagged with <span class="text-blue-500">{{ replace .Title "-" " " }}</span></h1>
    {{ else }}
        <h1 class="text-4xl text-center my-3">{{ replace (title .Title) "-" " " }}</h1>
    {{ end }}
    
    {{ range .Pages }}
        <article class="text-center mb-2">
            <div class="inline-block p-4 bg-gray-200 rounded-xl mx-auto shadow-lg">
                <h1 class="text-xl mb-3 text-blue-500"><a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a></h1>
                <p>
                    {{ .RenderString .Description }}
                </p>
            </div>
        </article>
    {{ end }}
{{ end }}