<footer class="footer">
    <p>&copy; Noam Zaks 2024. All rights reserved.</p>
</footer>

<style>
    .footer {
        flex: none;
        text-align: center;
        width: 100%;
    }

    .footer > p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
