<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<script>
    window.MathJax = {
        tex: {
            inlineMath: [
                ["$", "$"],
                ["\$", "\$"],
            ],
            displayMath: [
                ["$$", "$$"],
                ["\\[", "\\]"],
            ],
        },
    };
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.1.2/es5/tex-mml-chtml.min.js"
    integrity="sha512-7rZgZU/u5XjLaO7dBpkcvZ2+ilGXbdIak0FXUgMoO+adNy7RUceort055Wn7LkZY3VLwEsSDpi8Ui+32N1vrfw=="
    crossorigin="anonymous"></script>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/styles.css">
<meta property="og:image" itemprop="image" content="http://noamzaks.tech/icon.png">
<meta property="og:type" content="website">