{{ define "head-extra" }}
    <title>{{ .Site.Title }}</title>
{{ end }}

{{ define "main" }}
    <div class="text-center">
        <h1 class="text-5xl my-3">{{ .Site.Title }}</h1>
        <p class="text-lg">Welcome to my website!</p>
        <p class="text-lg">As you might have noticed, my name is Noam Zaks.</p>
        <p class="text-lg">This website is mainly for fun and sharing neat things.</p>
        <div class="inline-block mt-4 p-4 bg-gray-200 rounded-xl mx-auto shadow-lg transition duration-500 transform hover:scale-105 hover:shadow-2xl">
            <a class="inline-block px-2 py-1 mx-1 text-blue-700 text-xl text-bold" href="/puzzles">Puzzles</a>
            <p>Animated math riddles with solutions using <a class="text-blue-600" href="https://github.com/manimcommunity/manim">manim</a>.</p>
        </div>
    </div>
{{ end }}