{{ define "head-extra" }}
    <title>{{ .Site.Title }}</title>
{{ end }}

{{ define "main" }}
    <div class="text-center">
        <p class="text-lg">Welcome to my website!</p>
        <p class="text-lg">As you might have noticed, my name is Noam Zaks.</p>
        <p class="text-lg">This website is mainly for fun and sharing neat things.</p>
        <div class="cursor-pointer inline-block p-4 bg-gray-200 rounded-xl mx-auto shadow-lg transition duration-500 transform hover:scale-105 hover:shadow-2xl" onclick="location.href = '/puzzles'">
            <h1 class="inline-block text-3xl">Puzzles</h1>
            <p>Animated math riddles with solutions using <a class="text-blue-600" href="https://github.com/manimcommunity/manim">manim</a>.</p>
            <p>Courtesy of Rom Pinchasi's 104186 Math Puzzles course.</p>
        </div>
    </div>
{{ end }}