---
import type { MarkdownInstance } from "astro";
import Card from "../../components/Card.astro";
import Grid from "../../components/Grid.astro";
import Layout from "../../layouts/Layout.astro";

const posts: MarkdownInstance<any>[] = Object.values(
    import.meta.glob("./*.md", { eager: true })
);
---

<Layout
    title="Projects"
    description="Some of my favorite projects."
    icon="fa-solid fa-lightbulb"
>
    <h1>Projects</h1>
    <p>Here are a few of my favorite projects.</p>
    <Grid>
        {
            posts.map((post) => (
                <Card
                    href={post.url!}
                    title={post.frontmatter.title}
                    icon={post.frontmatter.icon}
                    body={post.frontmatter.description}
                />
            ))
        }
    </Grid>
</Layout>
